body{
    background-color:rgb(255, 0, 110);
}
header{
    background-color:rgb(105, 23, 251);
    height: 50px;
    width: 100vw;
    border-width: 5px;
    border-style:solid;
    border-color:black;
    margin:5px;
}
header h1{
    color:aliceblue;
    margin:5px;
    font-family:Cambria;
    display:inline-block;
}
header h1:hover{
    color: black;
}

main {
    background-color: rgb(190, 169, 243);
    height: 100vh;
    width: 70%;
    border: 5px solid black;
    /*   background-image:url("bg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;*/
    margin: 5px;
    display: inline-block;
}
.question {
    text-transform: capitalize;
    font-family: Cambria;
    color: black;
    font-size: 40px;
    height: 40px;
    width: 12%;
    display: inline;
}

.question:hover {
    color: rgba(0, 255, 255,1);
    background-color: black;
}

.answer {
    font-family: monospace;
    color: rgb(0,0,0);
    font-size: 20px;
    height: 20px;
    width: 100%;
}

.answer:hover {
    background-color: rgb(0,0,0);
    color: rgba(245, 167, 112,1);
}

#next {
    height: 5vh;
    width: 5vw;
    font-size: 20px;
    font-family: monospace;
    color:black;
    background-color:rgb(133, 249, 163);
    border: 2px solid black;
}

}
#next:active {
    color: rgb(133, 249, 163);
    background-color: rgb(0,0,0);
    border-color: rgb(133, 249, 163);
}

#clear {
    height: 5vh;
    width: 5vw;
    font-size: 20px;
    font-family: monospace;
    color: black;
    background-color: rgb(249, 105, 105);
    border: 2px solid black;
    visibility:visible;
}

#clear:active {
    color: rgb(249, 105, 105);
    background-color: rgb(0,0,0);
    border-color: rgb(249, 105, 105);
}

aside {
    display: inline-block;
    height: 500px;
    width: 25%;
    /*float: inline-end;*/
    margin: 0px;
    position:relative;
}

.ablock {
    display: inline-block;
    height: 33%;
    width: 100%;
    background-color: aqua;
    color: aqua;
    margin: 5px;
    border: 5px solid black;
    overflow: auto;
    /*transition: background-color 1s, color 2s, border-color 4s;
    */
    transition-property: background-color, color, border-color;
    transition-duration: 2s, 2s, 3s;
}

.ablock:hover {
    background-color: black;
    border-color: aqua;
    color: aqua;
}
.ablock p{
    font-size:100px;
}

#scroll-link {
    position:fixed;
    left:85%;
    top:2%;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    height: 25px;
    width: 25px;
    transition: width 1s ease-out, background-color 0.5s linear 1s, border-color 0.5s linear 1s;
    overflow: hidden;
}

#scroll-link a {
    text-decoration: none;
    font-weight: 700;
    font-family: Cambria;
    font-size: 120%;
    color: black;
    transition: color 0.5s linear 1s;
}

#scroll-link:hover {
    width: 135px;
    background-color: black;
    border-color: aqua;
}

#scroll-link a:hover {
    color: aqua;
}

